<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiroCheck - Admin Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="/system" class="logo-link">
                <h1 id="pirocheck" class="title">PiroCheck</h1>
            </a>
        </header>

        <main class="main" role="main">
            <div class="login-card">
                <h2 id="로그인" class="login-title">운영진 로그인</h2>

                <form class="login-form" th:object="${member}" method="post">
                    <div th:if="${#fields.hasGlobalErrors()}" style="text-align: center">
                        <p class="field-error" style="color:red;" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}">전체 오류 메시지</p>
                    </div>
                    <div class="form-group">
                        <label for="name">이름</label>
                        <input type="text" id="name" name="name" required th:field="*{name}">
                    </div>

                    <div class="form-group">
                        전화번호
                        <input 
                          type="tel" 
                          id="phone" 
                          name="phone" 
                          maxlength="13" 
                          placeholder="전화번호를 입력하세요"
                          oninput="autoHyphen(this)" 
                          pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"
                          th:field="*{phone}"
                          required
                        />
                    </div>

                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" th:field="*{password}" required>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="btn">로그인</button>
                        <a href="/system/join" class="btn signup-btn">회원가입</a>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
<script>
    const autoHyphen = (target) => {
      target.value = target.value
        .replace(/[^0-9]/g, '')
        .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3")
        .replace(/(\-{1,2})$/g, "");
    }
</script>
</html>