<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피로체크</title>
    <link rel="shortcut icon" href="/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mvp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&family=Poor+Story&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="/" class="logo-link"></a>
            <h1 id="pirocheck" class="title">PiroCheck</h1>
        </header>

        <main class="main">
            <div class="card">
                <h2 class="page-title">👑피로그래밍 MVP👑</h2>
                
                <div class="mvp-list">
                    <div class="mvp-item">
                        <h3>1주차 MVP</h3>
                        <div class="mvp-icon">🏆</div>
                        <p class="mvp-name" th:text="${mvp1.mvpMember.name}">최승호</p>
                    </div>

                    <div class="mvp-item">
                        <h3>2주차 MVP</h3>
                        <div class="mvp-icon">🏆</div>
                        <p class="mvp-name" th:text="${mvp2.mvpMember.name}">김민수</p>
                    </div>

                    <div class="mvp-item">
                        <h3>3주차 MVP</h3>
                        <div class="mvp-icon">🏆</div>
                        <p class="mvp-name" th:text="${mvp3.mvpMember.name}">이지현</p>
                    </div>

                    <div class="mvp-item">
                        <h3>4주차 MVP</h3>
                        <div class="mvp-icon">🏆</div>
                        <p class="mvp-name" th:text="${mvp4.mvpMember.name}">장지요</p>
                    </div>
                </div>

                <div class="challenge-container">
                    <div class="mvp-item challenge">
                        <h3>챌린지 MVP</h3>
                        <div class="mvp-icon">👑</div>
                        <p class="mvp-name" th:text="${mvp5.mvpMember.name}">손관우</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="footer">
            <form th:action="@{/logout}" method="post" >
                <button type="submit" class="logout-btn" style="cursor: pointer;"> 로그아웃</button>
            </form>
        </div>
    </div>
</body>
</html>